   <!--FOOTER AREA START HERE -->
   <footer class="text-center text-white" style="background-color: #c11119;">
    <!-- Grid container -->
    <div class="container p-4">
   
    </div>
  
<section class="">
<form action="">
<!--Grid row-->
<div class="row d-flex justify-content-center">
<!--Grid column-->
<div class="col-auto">
<p class="pt-2">
<strong>Sign up for our newsletter</strong>
</p>
</div>
<!--Grid column-->

<!--Grid column-->
<div class="col-md-5 col-12">
<!-- Email input -->
<div data-mdb-input-init class="form-outline mb-4">
<input type="email" id="form5Example26" class="form-control" />
<label class="form-label" for="form5Example26">Email address</label>
</div>
</div>
<!--Grid column-->

<!--Grid column-->
<div class="col-auto">
<!-- Submit button -->
<button data-mdb-ripple-init type="submit" class="btn btn-dark mb-4">
Subscribe
</button>
</div>
<!--Grid column-->
</div>
<!--Grid row-->
</form>
</section>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="https://www.maushmi-portfolio.com/">maushmi.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!--FOOTER AREA END HERE -->
</div>

<div class="container">
<ul id="tagsEl" class="list-unstyled mt-4"></ul> <!-- Ensure tagsEl is an unordered list -->
</div>
